@font-face {
    font-family: "typo1";
    src: url("./typo/Nexa Bold.otf");
}
@font-face {
    font-family: "typo2";
    src: url("./typo/GENUINE.ttf");
}
@font-face {
    font-family: "typo3";
    src: url("./typo/Nexa Light.otf");
}

@keyframes bg_move {
    0%{
        background-size: 10%;
    }
    100% {
        background-size: 20000%;
    }
}

@keyframes bg_move_img {
    0%{
        background-size: 10%;
    }
    100% {
        background-size: 45000%;
    }
}

@keyframes bg_move_img_revert {
    0%{
        background-size: 45000%;
    }
    100% {
        background-size: 10%;
    }
}

@keyframes bg_move_invert {
    0%{
        background-size: 20000%;
    }
    100% {
        background-size: 10%;
    }
}

@keyframes translate_bar {
    0%{
        top: -10% ;
    }
    100% {
        top: 100% ;
    }
}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* ###################### */
/* balise */
/* ####################### */


body{
    background-color: rgb(37, 37, 38);
    color: whitesmoke;

    /* margin-top: 4vw;  */

    overflow-x: hidden;


    font-family: "typo1";
}

h1{
    font-size: 3vw;
    text-align: center;
    
}

hr{
    margin-bottom: 50px;
    border: 1px solid transparent;
    text-decoration: none;
}

.Titre{
    padding-top: 10vh;
    /* margin: 30px; */
    height: 10%;

    /* color: transparent; */
    background-clip: text;
    -webkit-background-clip : text;
    border-radius: 10px;
    box-shadow: none;

    font-size: 4vw;
}

p{
    font-family: "typo3";
    letter-spacing: 1.5px;
}

/* ########################## */
/* header */
/* ########################## */


header{
    z-index: 100000;

    width: 100vw;
    height: 5vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(30, 30, 30, 1);
    
    position: fixed;
    top: 0;
    left: 0;

    /* box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05); */
}

.logo{
    max-height: 4vw;
    width: auto;
    margin-left: 20px;

    filter: invert(1);
}
li a{
    font-size: 1.5vw;
}

nav ol {

    position: relative;

    display: flex;
    justify-content: space-around;
    margin-right: 2vw;

    text-decoration: none;

}

ol li{
    list-style-type: none;
    margin: 15px;
    position: relative;

    /* background: linear-gradient(180deg, rgba(205,180,219,1)50%, rgba(255,35,115,1) 50%);
     */
    
    /* animation: bg_move 2s alternate; */
}
li img{
    color: transparent;

    /* filter: invert(1); */

    height: 10px;
    width: 10px;
}

li a{

    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    text-decoration: none;
    
    background-color: #CA4246;

    background-clip: text;
    -webkit-background-clip : text;
    
    color: transparent;

    background-size: 10%;

    animation: bg_move_invert 1s ease;
    animation-fill-mode: forwards;
}

.accueil{
    background-color: #C200FB;
    box-shadow: 0px 0px 5px #C200FB,0px 0px 10px #C200FB,0px 0px 15px #C200FB;
}
.work{
    background-color: #EC0868 ;
    box-shadow: 0px 0px 5px #EC0868,0px 0px 10px #EC0868,0px 0px 15px #EC0868;
}
.lab{
    background-color: #FC2F00;
    box-shadow: 0px 0px 5px #FC2F00,0px 0px 10px #FC2F00,0px 0px 15px #FC2F00;
}
.who{
    background-color: #EC7D10 ;
    box-shadow: 0px 0px 5px #EC7D10,0px 0px 10px #EC7D10,0px 0px 15px #EC7D10;
}
.contact{
    background-color: #FFBC0A ;
    box-shadow: 0px 0px 5px #FFBC0A,0px 0px 10px #FFBC0A,0px 0px 15px #FFBC0A;
}


.animation_forward{
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    animation: bg_move 0.5s ease ;
    animation-fill-mode: forwards;
}

.animation_forward_img{
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.74);
    animation: bg_move_img 0.5s ease ;
    animation-fill-mode: forwards;
}

.txtAccueil{
    background-image: linear-gradient(179deg, #C200FB 10%, white 10%);
    background-size: 10%;
}
.txtWorks{
    background-image: linear-gradient(179deg, #EC0868 10%, white 10%);
    background-size: 10%;
}
.txtlab{
    background-image: linear-gradient(179deg, #FC2F00 10%, white 10%);
    background-size: 10%;
}
.txtwho{
    background-image: linear-gradient(179deg, #EC7D10 10%, white 10%);
    background-size: 10%;
}
.txtconta{
    background-image: linear-gradient(179deg, #FFBC0A 10%, white 10%);
    background-size: 10%;
}


/* .imgAccueil{
    background-color: red;
    mask-image: url("https://img.icons8.com/small/64/null/home.png");
    mask-position: center;
    mask-size: contain;

    animation: bg_move_img_revert 0.8s ease ;
    animation-fill-mode: forwards;
} */


.bar_overlay{

    position: absolute;
    top: -10%;
    left: 0;

    opacity: 0;

    height: 10%;
    width: 0%;
}

.liste_nav:hover .bar_overlay{
    opacity: 1;
    width: 100%;
    transition: 0.4s all;
}

.selected .bar_overlay{
    opacity: 1;
    width: 100%;
    animation: 0.4s translate_bar forwards ease-in-out; 
}
/* a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
    animation: bg_move 2s;
    animation-fill-mode: forwards;
}

a::before{
    transition: all 0.5s;
    opacity: 0;

    position: absolute;
    top: 0%;
    left: 0;
    margin: auto;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 5px;
    width: 100%;
}

a:hover::before{
    transform:translateY(0%) ;
    opacity: 1;

    position: absolute;
    top: 0%;
    left: 0;
    margin: auto;
    content: '.';
    color: transparent;
    background: #C200FB;

    box-shadow: 0px 0px 25px #C200FB;

    height: 5px;
    width: 100%;

}

.before::before{
    animation: 2s translate_bar forwards; 
} */

.img_logo{
    width: 32px;
    height: 32px;
    filter: invert(1);
    margin: 2px;

    /* align-self: center; */
}

/* ################## */
/* Title content */
/* ################### */

.TitreContaint{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    height: 100vh;
    width: 100vw;
}

.TitreContaint h1 {
    z-index: 10;
    pointer-events: none;
    font-size: 4vw;
    text-shadow: 0px 0px 5px black;

    position: absolute;
    top: 30%;
    left: 50%;
}
.dot{
    display: inline;
    font-family: "typo2";
    font-size: 5vw;
    text-shadow: 0px 0px 5px black;


}

.TitreContaint h2 {

    font-size: 2.5vw;

    font-family: "typo2";
    text-shadow: 0px 0px 5px black;
    z-index: 10;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 70%;
}

.myHead{

    z-index: 1;

    position: absolute;
    top: 0%;
    left: 0%;
}

/* ####################### */
/* mainContent */
/* ####################### */

.mainContent{
    width: 100vw;
    height: fit-content;

}

.left{
    width: 100%;
    height: 75vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.right{
    width: 100vw;
    height: 75vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

}

.Container{
    position: relative;

    display: flex;
    justify-content: center;
    align-content: center;


    height: 90%;
    width: 33%;
    border-radius: 2vw;

    border: #EC0868 1px solid;
    /* box-shadow: 0px 0px 10px #EC0868; */
    overflow: hidden;
}

.ContainerDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 50%;
}


.more{

    color: white;

    border-radius: 5px;
    border: 1px solid #EC0868 ;

    background-color: #c02063;

    width: 90px;
    height: 30px;

    transition: 0.2s all;
    transform: scale(1);

    box-shadow: none;
}
.more:hover{
    box-shadow: 0px 0px 15px #EC0868;
    transform: scale(1.1);
    letter-spacing: 2.5px;
}
.more:active{
    background-color: #830f40;
}

.right .ContainerDescription{
    align-items: flex-start;
}

.left .ContainerDescription{
    align-items: flex-end;
}

.left .textDescription{
    text-align: right;
}

.backgroundContainer{
    height: 100%;
    width: 100%;


    background-size: cover;
    filter: blur(40px);
}

.imageContent{
    position: absolute;
    top: 25%;
    left: 0;


    height: auto;
    width: 100%;

    border-radius: 0%;
    background-size: contain;

    /* border: white 0.5px solid; */
}

/* ############################### */
/* project */
/* ############################### */

.titre_project{
    font-family: "typo2";
    font-size: 2vw;

    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.Projet1{
    background-image: url("images/workshop1.png");   
}

.Projet2{
    background-image: url("images/cache-cache.PNG");  
    top: 32%;
}

.Projet3{
    background-image: url("images/volet.png");  
    top: 32%;
}

.Projet4{
    background-image: url("images/filmotheque.PNG");
    top: 28%;
}
/* ######################## */
/* Labs */
/* ######################## */

.labs{
    height: 120vh;
    width: 100vw;
}

.mainGalery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: auto;
}

.galeryNav{

    
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn_lab{
    color: white;
    font-size: 1.5vw;
    text-decoration: none;

    transition: all 0.5s;
    padding: 10px;
    border-bottom: 2px white solid;

    font-family: "typo2";
}
.btn_lab:hover{
    transition: all 0.5s;
    color: black;
    background-color: white;
    border-bottom: 2px black solid;

    border-radius: 15px;
    padding: 10px;
}

/* galeryNav a:target */
.select{
    transition: all 0.5s;
    color: black;
    background-color: white;
    border-bottom: 2px black solid;

    border-radius: 15px;
    padding: 10px;
}

.galeryPhoto{

    margin: 50px;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    row-gap: 25%;
    width: 100vw;
    height: 100%;
}

.container_galery{
    position: relative;
    height: 30vh;
    width: 20vw;

    background-color: rgba(30, 30, 30, 0.6  );

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 20px;
    
}

.container_galery:hover{
    transition: all 1s;
    background-size: -10%;
}
.clickable{
    box-shadow: 0px 0px 5px #FC2F00 ;
}

.Title_galery{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;

    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

/* qui suis je */


.whoIam{
    width: 50%;

    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 25%;
    padding: 20px;

    display: flex;
    font-size: 1vw;
    flex-direction: column;
    justify-content: inherit;
    text-align: center;

    line-height: 30px;
}

.whoIam a{
    text-decoration: none;
    color: #EC7D10 ;
    border-bottom: 5px solid white;
    display: contents;
}
.whoIam a:visited{
    text-decoration: none;
    color: #EC7D10 ;
    border-bottom: 5px solid white;
    display: contents;
}
.whoIam a:hover{
    text-decoration: none;
    color: #EC7D10 ;
    text-shadow: 0px 0px 2px #EC7D10;
    border-bottom: 5px solid white;
    display: contents;
}


.whoIam ul{
    font-size: 1.5vw;
    margin-left: 50px;
}

.whoIam h2{
    font-size: 2.5vw;

}

.whoIam p{
    font-size: 1.5vw;
}

/* contactPage */

.contactPage{
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerContact{
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.contactForm{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
}

.SeparateContact{
    border: 2px solid black;

}

.contactForm form{

    /* margin-left: 20%; */

    height: 100%;
    width: 30%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    
}

form label{
    font-size: 1vw;

    margin-left: 2%;
}


.input{

    font-family: "typo3";
    letter-spacing: 3px;

    color: #ffffff;
    height: 3vh;
    width: 30vw;

    border-radius: 2px;
    border: none;
    border-bottom: 2px solid #FFBC0A ;
    /* box-shadow: 0px 0px 5px #ffbe0aa1; */

    background-color: rgba(255, 255, 255, 0);

    margin: 10px;


}

label{
    letter-spacing: 2px;
}

.inputSubmit{

    color: white;

    margin: 20px;
    height: 4vh;
    width: 10vw;

    border-radius: 50px;

    align-self: flex-end;

    font-size: 1vw;

    border: 2px solid #ffbe0a91;
    /* box-shadow: 0px 0px 50px #ffbe0ace; */

    background-color: #e0b805e0;
    
    font-family: "typo1";
    letter-spacing: 2px;
    transition: all 0.2s;
}

.inputSubmit:hover{
    background-color: rgb(201, 147, 0);
    letter-spacing: 3px;
    box-shadow: 0px 0px 10px #ffbe0ace;
}


.social{
    width: 100%;
    height: 64px;

    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.Github{
    height: 64px;
    width: 64px;
    filter: invert(1);

    margin-right: 20%;
}

.linkedin{
    height: 64px;
    width: 64px;

    margin-left: 20%;
}


.menu{
    display: none;
}



.voirPlus{
    position: fixed;

    height: 100vh;
    width: 100vw;

    background-color: rgb(37, 37, 38);

    z-index: 100001;

    
    transition: 1s all;
    opacity: 1; 

    overflow-y: scroll;
    overflow-x: hidden;

    display: none;
}

.voirPlus img{
    height: auto;
    width: 40%;

    border-radius: 5px;
}

.voirPlus .description_voirPlus{
    margin: 5vh;
    text-align: center;
}

.voirPlus .left{
    height: 50vh;
}
.voirPlus .right{
    height: 50vh;
}

.voirPlus a{
    text-decoration: none;

    color: #0872ec;

    font-family: "typo2";
    font-size: 1.1vw;
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000;
}

.cross{
    background-image: url("./images/cross.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 64px;
    width: 64px;

    position: fixed;

    top: 50px;
    right: 50px;
    
}




.pointer{
    cursor: pointer;
}


@media screen and (orientation:portrait) {
    .header{
        height: 8vh;
    }

    .logo{
        max-height: 13vw;
    }

    .TitreContaint{
        height: 65vh;
    }
    .TitreContaint h1{
        top: 14%;
        left: 13%;
        font-size: 6vw;
    }
    .TitreContaint h2{
        left: 51%;
        font-size: 5.5vw;
        top: 20%;
    }
    .myHead{
        top: 15%;
        left: -4%;
    }

    /* navigation */



    .navigation{
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        
    }

    li a{
        font-size: 7vw;
    }

    .navigation ol{
        flex-direction: column;
        justify-content: center;
        align-content: center;

        height: 100%;
        margin-left: 25%;
    }

    ol li{
        width: fit-content;
    }

    /* ########### */
    .left{
        flex-direction: column;
        padding: 10px;
    }

    .right{
        flex-direction: column;
        padding: 10px;
    }

    .Container{
        height: 32%;
        width: 89%;
    }

    .imageContent{
        top: 0;
        height: 100%;
    }

    .titre_project{
        font-size: 6vw;
    }

    .ContainerDescription{
        text-align: start;
        width: 80%;
    }

    .left .textDescription{
        text-align: left;
    }


    /* lab */
    .labs {
        height: 267vh;
        width: 100vw;
    }

    .Titre{
        padding-top: 1vh;
        height: auto;
    }

    .galeryNav{
        width: 85%;
    }

    .galeryNav a{
        font-size: 4vw;
    }

    .galeryPhoto{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2%;
    }

    .container_galery{
        width: 100vw;
        height: 31vh;
    }

    .whoIam{
        width: 80%;
        margin-bottom: 4%;
        margin-top: 5%;
        margin-left: 7%;
        padding: 20px;
        display: flex;
        font-size: 3vw;
        flex-direction: column;
        justify-content: inherit;
        text-align: center;
        line-height: 15px;
    }

    .contactForm form{
        width: 100%;
    }

    form label{
        font-size: 6vw;
    }

    .input{
        width: 80%;
    }

    .inputSubmit{
        width: 38vw;
        font-size: 3vw;
    }


    .menu{ 
        z-index: 1000000;
        background-image: url("./images/cross.png");
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        height: 60px;
        width: 60px;
    }

    .voirPlus img{
        width: 80%;
    }

    .cross{
        height: 30px;
        width: 30px;
        top: 10px;
        right: 20px;
    }
}